{
{% if docker_tls %}
{% if docker_tls_client_auth %}
  "tlsverify": true,
{% else %}
  "tls": true,
{% endif -%}
  "tlscacert": "{{ docker_tls_cacert_path }}",
  "tlscert": "{{ docker_tls_cert_path }}",
  "tlskey": "{{ docker_tls_key_path }}"
{% endif -%}
}
