{{
[
(docker_ipv6_cidr |length >0) |ternary({"ipv6": true, "fixed-cidr-v6": docker_ipv6_cidr},{}),
docker_tls_enabled |ternary({
  (docker_tls_client_auth |ternary('tlsverify','tls')): true,
  "tlscacert": docker_tls_cacert_path,
  "tlscert": docker_tls_cert_path,
  "tlskey": docker_tls_key_path,
},{})
] |combine |to_nice_json(indent=2)
}}
